*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    color: #212529;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

span{
    color:#E7332B;
}

/* header part */
header{
    background-image: url(/images/hero-bg.svg);
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 20%;
    width: 100%;
}

.header-logo{
    text-align: center;
    margin-bottom: 5%;
}

/* section-one part */
.section-one h1{
    text-align: center;
}

.section-one p {
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    height: 50%;
    line-height: 1.5rem;
    color: rgb(123,116,116);
}

.sectionOneBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    width: 100%;
}

 a{
    text-decoration: none;
}

.section-one .sectionOneButton1{
    width: 230px;
    color: #fff;
    background-color: rgb(231,51,43);
    padding-top: 10px;
    padding-bottom:10px ;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 2px;
    border: 1px solid rgb(231,51,43);
    display: inline;
    text-align: center;
    margin-right: 4%;
    font-size: 1rem;
    font-weight: 400;
}

.section-one .sectionOneButton2{
    width: 230px;
    color:  rgb(231,51,43);
    background-color: #fff;
    padding-top: 10px;
    padding-bottom:10px ;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 2px;
    border: 1px solid rgb(231,51,43);
    display: inline;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 14%;
}

/* active state button styling */
.sectionOneButton2:hover {
    background-color: rgb(231,51,43); 
    color: #fff;
  }

.sectionOneButton1:hover {
    background-color: #fff; 
    color: rgb(231,51,43);
  }

/* section-two part */
.section-two{
    margin-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 1%;
}

.section-two p {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.section-two h3{
    text-align: center;
    line-height: 200%;
    font-size: 1.5rem;
    font-weight: 400;
}

/* section-three part */
.section-three{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    margin-top: 1%; 
    margin-left: 5%;
    margin-right: 5%;
}

.program-card{
    width: 140px;
    background-color: #fff; 
    color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:5px;
    padding-right: 5px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

#programLeft{
    position: absolute;
    width: 30%;
    right: 80%;
    top: -13%;
    z-index: -2;
}

#programRight{
    position: absolute;
    width: 30%;
    right: 0;
    top: -13%;
    z-index: -2;
}

.sectionThreeContent{
    width: 300px;
    margin-bottom: 20px;
}

.section-three #part-one a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.section-three #part-one{
    height: 100%;
    width: 400px;
    background-color: rgb(255,250,250);
    margin-right: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 30px;
}

.section-three #part-two{
    height: 100%;
    width: 400px;
    background-color:rgb(255,250,250);
    margin-right: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 30px;
}

.section-three #part-two a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.section-three #part-three{
    height: 100%;
    width: 400px;
    background-color: rgb(255,250,250);
    margin-right: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 30px;
}

.section-three #part-three a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

/* section-four part */
.section-four{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 18%;
    margin-bottom: 5%;
    line-height: 1rem;
}

.section-four h4{
    margin-bottom: 10px;
}

.section-four .part-four{
    margin-right: 18%;
}

.section-four .part-five{
    margin-right: 18%;
}

.section-four .part-six{
    margin-right: 18%;
    width: 250px;
}

.section-four .part-seven img{
    width: 20px;
}


/* footer */
hr{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    border: #fff 1.5px;
    border-style: inset;
}

footer{
    margin-top: 2%;
    margin-bottom: 8%;
    font-size: 0.9rem;
    font-weight: 200;
    text-align: center;
}

/* mediaQueries */
@media screen and (max-width:992px) {
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-one p{
        width: 73%;
        text-align: center;
    }

.section-three{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

.section-three #part-one{
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 6%;
}

.section-three #part-two{
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 6%;
}

.section-three #part-three{
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 6%;
}

.sectionThreeContent p{
    width: 80%;
}

.section-four{
    display: flex;
    flex-direction: row;
    gap: 2;
}

.section-four .part-four{
    margin-left: 0;
    width: 30%;
    margin-right: 20%;
}

.section-four .part-img{
    display: flex;
    flex-direction: row;
    gap: 7%;
}

}

@media screen and (max-width:768px) {
    .header-section{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8%;
    }

    .section-one .sectionOneButton2{
        margin-left: 0;
    }

    .section-one h1{
        margin-top: 18%;
    }

    .section-one p{
        width: 84%;
        text-align: center;
    } 

    .section-three #programLeft{
        display: none;
    }

    .section-three #programRight{
        display: none;
    }

    .sectionOneBtn{
        margin-top: 15%;
        display: flex;
        flex-direction: column;
    }

    .sectionOneButton1{
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .sectionOneButton2{
        margin-left: 0;
        padding: 20px 40px;
    }
    
    .section-two{
        margin-top: 2%;
    }

    .section-three{
        display: flex;
        flex-direction: column;
        width: 300%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .sectionThreeContent p{
        width: 200%;
    }

    .section-four{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .section-four .part-four {
        display: block;
        margin-left: 32%;
        margin-bottom: 3%;
    }

    .part-five{
        margin-left: 12%;
    }

    .part-six{
        display: block;
        margin-left: 29%;
        margin-top: 7%;
    }

    .part-seven{
        display: block;
        margin-right: 16%;
        margin-top: 7%;
    }

    .part-img{
        display: block;
        margin-right: 16%;
        margin-top: 7%;
    }

    .part-seven h4{
        margin-left: 15%; 
    }

    .section-four .part-img{
        display: flex;
        flex-direction: row;
        gap: 0;
        margin-left: 50%; 
    }
}

@media screen and (max-width:576px) {
    .header-section{
        margin-top: 13%;
    }

    .header-logo h2{
        margin-bottom:0 ;
    }

    .section-one h1{
        margin-top: 7%;
    }

    .section-one p{
        width: 93%;
        text-align: center;
    } 

    .sectionThreeContent{
        width: 49%;
    }

    .part-six{
        display: block;
        margin-left: 23%;
        margin-top: 7%;
    }

    .part-seven{
        display: block;
        margin-right: 16%;
        margin-top: 7%;
    }

    footer h3{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:375px) {
    .section-one p{
        width: 84%;
        text-align: center;
    } 

    .header-section {
        text-align: center;
        margin-left: auto;
        margin-top: 8%;
}

.section-one{
    width: 110%;
    margin-left: auto;
    margin-right: auto;
}

.sectionThreeContent{
    width: 47%;
}

.section-three #part-one{
    width: 330px;
}

.section-three #part-two{
    width: 330px;
}

.section-three #part-three{
    width: 330px;
}

.section-four .part-four {
    width: 80%;
    margin-left: 12%;
}

.part-six{
    margin-left: 12%;
}

}